body {
    background-color: blueviolet;
    font-family: arial;
    color: yellow;
}

img {
    width: 10%;
}

li {
    color: red;
}

img:hover {
    width: 30%;
}

.special {
    color: pink;
}

.special.super {
    color: green;
}

li.special.super {
    color: blue;
}

.square {
    width: 25px;
    height: 25px;
    background-color: lightseagreen;
}

.circle {
    border-radius: 50%;
    width: 205px;
    height: 205px;
    background-color: lightseagreen;
}

