.circle {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.square {
    display: block;
    width: 30px;
    height: 30px;
}

.rectangle {
    display: block;
    width: 50px;
    height: 30px;
}